{% extends "base.html" %}

{% block titre %}Accueil{% endblock %}

{% block contenu %}

<section class="hero">
    <h1>Données de Santé en France</h1>

    <p class="description">
        Application développée dans le cadre de la SAE 2.01 permettant
        de consulter des informations à partir des données de l'Assurance Maladie (Ameli).
    </p>

</section>

<section class="infos">
    <div class="carte">
        <h3>Informations</h3>
        <ul>
            <li>Consultation des effectifs</li>
            <li>Analyse des honoraires</li>
            <li>Étude des prescriptions</li>
            <li>Visualisation graphique</li>
        </ul>
    </div>

    <div class="carte">
        <h3>Équipe</h3>
        <ul>
            <li>Diebate Assane</li>
            <li>Carpinteiro-Lericq Valentin</li>
            <li>Momperousse Nohlan</li>
            <li>Sivault Arthur</li>
            <li>Azzoug Sami</li>
        </ul>
    </div>
</section>
#test
{% endblock %}