<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block titre %}Données de santé{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    </head>
<body>
    <header>
        <nav>
            <a href="{{ url_for('accueil.index') }}">Accueil</a>
            <a href="{{ url_for('effectifs.afficher') }}">Effectifs</a>
            <a href="{{ url_for('prescriptions.afficher') }}">Prescriptions</a>
            <a href="{{ url_for('comparaison.comparaison') }}">Comparaison</a>
            <a href="{{ url_for('honoraires.afficher') }}">Honoraires</a>
            <a href="{{ url_for('carte.afficher') }}">Carte</a> 
            <a href="{{ url_for('a_propos.afficher') }}">A propos</a> 

            {% if current_user.is_authenticated %}
                <a href="{{ url_for('admin.index') }}" >Dashboard</a>
                <a href="{{ url_for('auth.logout') }}">Déconnexion ({{ current_user.identifiant }})</a>
            {% else %}
                <a href="{{ url_for('auth.login') }}">Connexion</a>
            {% endif %}
        </nav>
    </header>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{ category }}"">
              {{ message }}
            </div>
          {% endfor %}
      {% endif %}
    {% endwith %}
    <main>
        {% block contenu %}{% endblock %}
    </main>
    <footer>
        <p>BUT Informatique · IUT Créteil-Vitry</p>
    </footer>
</body>
</html>