{% extends "base.html" %}
{% block titre %}Connexion Admin{% endblock %}

{% block contenu %}
<div>
    <h2>Connexion Administration</h2>
    
    <!-- {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %} -->

    <form method="POST">
        <div>
            <label for="identifiant">Identifiant</label>
            <input type="text" id="identifiant" name="identifiant" required>
        </div>
        <div>
            <label for="password">Mot de passe</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit">Se connecter</button>
    </form>
</div>
{% endblock %}